{{define "info-icon"}}
<details class="go-Tooltip js-tooltip" data-gtmc="tooltip">
  <summary>
    <img
      class="go-Icon"
      height="20"
      width="20"
      src="/static/info_black_24dp.svg"
      alt=""
    />
  </summary>
  <p>
    {{.}}
  </p>
</details>
{{end}}
