<!--
  Copyright 2024 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{template "base" .}}

{{define "title"}}Go Telemetry / Data{{end}}

{{define "content"}}

<main id="main">
<section>
<div class="Hero">
<div class="Content">
  <h1>Merged daily reports</h1>
  <p>Download raw telemetry data.</p>
</div>
</div>
</section>

<section>
<div class="Content">
  <ul style="margin-top: 1.5rem; column-count: auto; column-width: 10rem">
  {{$url := .BucketURL}}
  {{range .Dates}}
  <li><a href="{{$url}}/{{.}}.json">{{.}}</a></li>
  {{end}}
  </ul>
</div>
</section>

</main>

{{end}}
