
/* 设置整个页面的字体和背景颜色 */
body {
    font-family: "Microsoft Yahei" Arial, sans-serif;
    background-color: #f2f2f2;
}

/* 设置表单的样式 */
form {
    width: 45vw;
    margin: 0 auto;    
    padding: 0.5vh 1.5vw;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 设置一般性标签元素的样式 */
label {
    display: block;
    margin: 0.5vh 0;
    font-weight: bold;
}

/* 设置一般性输入元素的样式 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="file"],
textarea {
    width: 100%;
    padding: 1.5vh 1.5vw;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 0.5vh;
}

/* 设置单选框和复选框元素的特定样式 */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 0.1vw;
}
label.radio-label,
label.checkbox-label {
    display: inline-block;
    margin-right: 1vw;
}

/* 设置下拉列表元素的特定样式 */
select {
    width: 100%;
    padding: 0.5vh 0.5vw;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 0.5vh;
}

/* 设置按钮元素的特定样式 */
button {
    padding: 1vh 2vw;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0.5vh 1vw;
}
button[type="reset"] {
    background-color: #f44336;
}

/* 设置文本区域的样式 */
textarea {
    width: 100%;
    padding: 1vh 1.5vw;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 0.5vh;
}
