/* 只有`:root`伪类选择器的自定义属性可被全局使用，
 * 一般选择器的自定义属性只能在被其匹配的元素中使用
 */
:root {
    --primary-bg-color: rgb(164, 205, 223);
}

/* 为了在后续代码中顺利使用相对尺寸单位，
 *  在这里必须要先利用html根标记的选择器建立一个基准
 */
html {
    /* 将网页的基准高度设置为浏览器的视口高度*/
    height: 100%; 
    /* 将网页的基准宽度设置为浏览器的视口宽度 */
    width: 100%;
    /* 设置网页使用的默认字体大小为16个像素单位*/
    font-size: 16px;
}

/* 匹配body标签，用于定义整个网页所在区域的样式 */
body {
    /* 设置被匹配标签所在元素的高度：为网页基准高度的90% */
    height: 90%;
    /* 设置被匹配标签所在元素的背景色 */
    background-color: var(--primary-bg-color);
    /* 设置被匹配标签所在元素的内边距 */
    padding: 1vh 0.5vw;
}

/* 匹配header标签，用于定义网页头部区域的样式 */
header {
    height: 5%;
    background-color: white;
    padding: 1.5vh;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid;
}

/* 匹配nav标签，用于定义网页导航栏区域的样式 */
nav {
    height: 5%;
    background-color: white;
    padding: 1.5vh;
    border: 1px solid;
    font-size: 1.5rem;
    text-align: center;
}

/* 匹配section标签，用于定义网页主体区域的样式 */
section {
    height: 80%;
    background-color: white;
    margin: 0.5vh 0;
    padding: 1vh 0.5vw;
    font-size: 1.5em;
    border: 1px solid;
    text-align: center;
}

/* 匹配aside标签，用于定义网页侧边栏区域的样式 */
aside {
    float: left;
    height: 80%;
    width: 15%;
    background-color: var(--primary-bg-color);
    margin-left: 1.5vh;
    padding: 1.5vh;
    border: 1px solid;
    font-size: 1.5rem;
    text-align: center;
}

/* 匹配article标签，用于网页中某一特定内容区域的样式 */
article {
    float: left;
    height: 80%;
    width: 75%;
    background-color: var(--primary-bg-color);
    margin-left: 1.5vh;
    padding: 1.5vh;
    border: 1px solid;
    font-size: 1.5rem;
    text-align: center;
}
/* 匹配article标签下的h1标签 */
article h1 {
    height: 15%;
    background-color: white;
    margin: 1.5vh;
    padding: 0.5vh;
}
/* 匹配article标签下的p标签 */
article p {
    height: 65%;
    background-color: white;
    margin: 1.5vh;
    padding: 0.5vh;
}

/* 匹配footer标签，用于定义网页底部区域的样式 */
footer {
    height: 5%;
    background-color: white;
    padding: 1vh 0.5vw;
    border: 1px solid;
    font-size: 1.5rem;
    text-align: center;
}
